.photo-indicator
    display flex
    align-items: center
    color white
    max-width 32px
    height 32px
    margin 0 10px
    overflow hidden
    white-space nowrap
    box-sizing border-box
    border 2px solid white
    padding 0 10px
    border-radius 100px
    transition max-width 1s ease-in-out
    line-height 0.1rem
    cursor pointer
    &.active
        max-width 30% 
    .title
        margin 0 30px