div.zone
    .view
        position absolute
        width 100%
        height 100%
        left 0
        top 0
        background green no-repeat center center fixed
        -webkit-background-size cover
        -moz-background-size cover
        -o-background-size cover
        background-size cover
        &.active
            z-index: 10
    .overlay
        position absolute
        width 100%
        height 100%
        left 0
        top 0
        background rgba(0,0,0,0.1)
        z-index 11
    transition opacity 250ms
    .loading
        animation loading 370ms forwards 
    .loaded
        animation loaded 370ms forwards
.text
    z-index 12
    position absolute
    top 50%
    left 50%
    width 100%
    text-align: center
    display flex
    justify-content: center
    transform: translate(-50%,-90%)
    color black
    &.light
        color white
        h1
            font-size: 3rem
            text-shadow 0px 0px 12px #000
        span
            font-size: 1.4rem
            text-shadow 0px 0px 12px #000
    h1
        font-size: 3rem
        text-shadow 0px 0px 12px #fff
    span
        font-size: 1.4rem
        text-shadow 0px 0px 12px #fff
.progress
    z-index 12
    position absolute
    width: 0%
    bottom 78px
    height 2px
    background black
    &.light
        background white
    &.loading
        transition width 700ms ease
        width 0%
    &.loaded
        transition width 6000ms ease
        width 100% 
@keyframes loaded
    0%
        opacity 0
        transform scale(1.2)
    100%
        opacity 1
        transform scale(1)
@keyframes loading
    0%
        opacity 1
        transform scale(1)
    100%
        opacity 0
        transform scale(1.2)