.top-bar
    position: absolute
    z-index 12
    top 0
    height 72px
    width 100%
    display flex
    padding 1.3rem
    box-sizing border-box
    align-items: center
    &.light
        svg,.language-icon
            display: flex
            align-items: center
            justify-content: center
            span
                user-select none
                vertical-align: sub
                line-height: 0.1px
            color: white
            width 24px
            height 24px
            .icon
                fill white
    div
        div
            cursor pointer
            display inline-block
            padding: 1rem
            border-radius: 100%
            width 24px
            height 24px
            transition background-color 200ms
            &:hover
                background-color: rgba(0,0,0,0.3)
            svg,.language-icon
                color: black
                span
                    vertical-align: sub
                    line-height: 0.1px
                    user-select none
                width 24px
                height 24px
                .icon
                    fill black
    .push
        flex-grow 1