.top-bar
    position: absolute
    z-index 12
    top 0
    height 72px
    width 100%
    display flex
    padding 2rem
    box-sizing border-box
    svg
        width 24px
        height auto
        .icon
            fill white
    .push
        flex-grow 1